*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-big{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

.title{
    height: 70px;
    width: 100vw;
    text-align: center;
}

.container-get,
.container-bottom{
    height: 400px;
    width: 100vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
    justify-content: center;
}

.container-ajax,
.container-js{
    height: 300px;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ededed;
    border-style: hidden hidden solid hidden;
}

#grafico-ajax,
#grafico-js,
#grafico-venditori,
#grafico-anni,
#grafico-team,
#grafico-php{
    height: 220px;
}
