*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
}

.title{
    height: 70px;
    width: 100vw;
    text-align: center;
    margin-top: 20px;
}

.container-big,
.container-get,
.container-bottom{
    height: 500px;
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    border: 1px solid black;
}

.container-ajax,
.container-js{
    height: 300px;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ededed;
}

#grafico-ajax,
#grafico-js,
#grafico-venditori,
#grafico-anni,
#grafico-team,
#grafico-php{
    height: 220px;
}

@media screen and (max-width: 768px){
    .container-big,
    .container-get{
        height: 700px;
        justify-content: center;
    }

    .title{
        font-size: 15px;
    }

    .container-ajax,
    .container-js{
        width: 100vw;
    }

    #grafico-ajax,
    #grafico-js,
    #grafico-venditori,
    #grafico-anni,
    #grafico-team,
    #grafico-php{
        height: 200px;
    }

    .container-mobile{
        background-color: black;
        height: 100vh;
        width: 100vw;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: white;
    }

    .enter{
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .enter:hover{
        color:orange;
    }

}
